<div class="col-md-6 col-lg-3 mb-3" id="auction{{ auction.id }}">
    <div class="card {{ deleted is defined ? 'bg-light' : '' }}" style="width: 18rem;">
        <img src="{{ asset('uploads/' ~ auction.image) }}" class="card-img-top" alt="{{ auction.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ auction.title }}</h5>
            <div class="card-text">
                <p>{{ (auction.price/100) | format_currency('EUR',locale="fr") }}</p>
                <p>{{ auction.description | raw }}</p>
                <p>Du {{ auction.dateOpen|format_datetime('short', 'short', locale='fr') }} au {{ auction.dateClose|format_datetime('short', 'short', locale='fr') }}</p>
                {% if deleted is defined %}
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="number" class="form-control" id="price" min="0" name="price" disabled>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success" disabled>Enchérir</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <form id="form_error_{{ auction.id }}" method="post" action="{{ path('app_raise_add', { id: auction.id }) }}">
                        <div class="row">
                            <div class="col">
                                <input type="number" class="form-control" id="price" min="0" name="price">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success">Enchérir</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        {% if updated is defined %}
            <div class="card-footer">
                <small class="text-muted">Last update:&nbsp;{{ "now"|date("d/m/Y") }}</small>
            </div>
        {% endif %}
        {% if deleted is defined %}
            <div class="card-footer">
                <small class="text-muted">Deleted</small>
            </div>
        {% endif %}
    </div>
</div>